<div class="container" id="top">
  <h1>Eat-Da-Burger!</h1>
  <img src="../public/assets/burger.png">
</div>

<div="container" id="main">
  <div class="row">
    <div class="col-12">
      <h2>What kind of burger does your heart desire?</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="burger-input">Burger:</label>
          <input type="text" id="burger-input" name="name">
        </div> <br />

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  </div>

  <div class="container" id="burger-container">
    <div class="row">
      <div class="col-6">

        <h2>Not Devoured</h2>

        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div class="col-6">

        <h2>Devoured!</h2>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>