body{
  background-color: coral;
  margin: 50px;
}

.container{
  text-align: center;
  background-color: white;
}

img{
  width: 100px;
  height: 100px;
}

h1{
  color: orangered;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }

  .label {
    font-weight: bold;
  }

  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }

  .form-group {
    margin-bottom: 5px;
  }